@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');

body {
    height: 100vh;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 20px;
    font-family: 'Sen', sans-serif;
    background-color: #e6e7eb;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    vertical-align: top;
    height: 100;
    width: 100%;
}

@media (max-width: 720px) {
    body {
        height: 100%;
    }
}