.section__library {
    width: 100%;
}
.library__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 15px;
}
.library__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    gap: 30px;
    justify-content: space-between;
}


.library__item {
    height: 493px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.item__image {
    flex: 0 0 36%;
}

.item__info {
    flex: 0 0 64%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.item__title {
    font-family: 'Cormorant', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
    flex: 0 0 11%;
}
.item__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(137, 157, 157, 1);
    text-align: left;
    flex: 0 0 53%;
}
.item__btn {
    background-color: transparent;
    border: 1px solid rgba(186, 226, 73, 1);
    width: 145px;
    padding: 10px 15px;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: rgba(186, 226, 73, 1);
    text-align: center;
}
.item__id {
    position: absolute;
}
.library_other {
    display: flex;
    gap: 15px;
}
.left {
}
.number_list {
    font-family: 'Cormorant', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.right {
}